//COLORS
$color-grey: #8799AB;
$color-cyan: #01FEE2;
$color-pink: #EA49EE;
$color-blue: #30B0FA;
$color-white: #ffffff;
$color-brown: #322C28;
$color-green: #21DEA5;
$color-orange: #E5791A;
$color-danger: #f1486f;
$color-purple: #733CE9;
$color-yellow: #FBEE76;
$color-bg-grey: #1E242A;
$color-dark-blue: #161B1F;
$color-bg-dark-grey: #1A1F25;














